.sony {
    max-width: 70px;
}
.arrow_down {
    max-width: 10px;
}
.lens {
    max-width: 25px;
    cursor: pointer;
}
.jumbo-1 {
    background-image: url(../img/jumbo-bg.png);
}
.jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.jumbo-style {
    min-height: var(--jumbo-height);
    background-size: cover;
    background-position: center;
}
.space {
    min-height: calc(var(--jumbo-height) / 2.4);
}
.banner-img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}
.copyright {
    font-size: 20px;
    vertical-align: text-top;
}
.ps-footer {
    min-width: 100px;
}
.globe {
    max-width: 20px;
    vertical-align: middle;
}
header a, .hamburger {
    cursor: pointer;
}
@media screen and (min-width: 992px) {
    .x {
        font-size: 40px;
    }
}




